<footer class="footer" style="background-color: black">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="">
          Kipa Prints bring the best of design for you.
        </div>
        <div>
          Copyright © 2020 Kipa Prints
        </div>
      </div>
      <div class="column">
        <div>
          <a class="footer_link" href="{{ url('shop:about_view') }}">
            About
          </a>
        </div>
        <div>
          <a class="footer_link" href="{{ url('shop:item_list_view') }}">
            Products
          </a>
        </div>
        <div>
          <a class="footer_link" href="{{ url('shop:contact_us_view') }}">
            Contact Us
          </a>
        </div>
      </div>

    </div>
  </div>
</footer>